{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-organize-imports"
  ],
  "importOrder": ["^@nestjs/(.*)$", "^[./]"],
  "importOrderSortSpecifiers": true,
  "singleQuote": true,
  "trailingComma": "all"
}
